@charset "utf-8";
/* CSS Document */

*{ 
	color: #FF4B4E;
}

body{ 
	background-image: url(../images/paperbackground.jpg);
}

 a{ 
	 text-decoration: none;
	 color: #8814A7;
 }
 
 #container{ 
 	display: inline-block; 
	width: 35%; 
	height: auto; 
	margin: 10% 3% 6% 2%;
}

#me1{ 
	width: 100%;
	height: auto;
	border-radius: 5%;
} 

#container1{ 
	display: inline-block;
	width: 55%;
	height: auto;
	font-size: 150%; 
	margin-bottom: 6%;
} 

.sample{ 
	width: 23%;
	margin: 0% 2% 0% 1%;
	border-radius: 1%;
	opacity: 0.7;
}

.sample:hover{ 
	opacity: 1;
	width: 25%;
}

 #name{ 
	margin:9% 0% 2% 30%;
	font-size: 300%;
 }
 
.aboutme{
	display: inline-block;
	width: 33%;
	height: auto;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	vertical-align: top;
	margin: 0% 1% 1% 1%;
} 

.one{ 
	margin-top: 10%;
}

#me{
	display: inline-block;
	width: 25%;
	height: auto;
	border: solid 2px #C8936A; 
	border-radius: 50%;
	margin-bottom: 2%;
}

.list{
	float:right;
	margin-right: 11%;
}

h1{
	text-shadow: 2px 2px 3px #9A5D5E;
}
	
.heading{ 
	margin: 5% 2% 2% 2%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.photography{ 
	background-color: black;
	width:30%;
	height: Auto;
}

.pic1{  
	display: inline-block;
	width: 30%;
	height: auto;
	margin: 0.5% 1% 0.5% 2%;
	text-align: center;
}

 .image{ 
	width: 100%;
	border-radius: 5%; 
	
} 

.sketch{
	display: inline-block;
	width: 45%;
	text-align: center;	
}

.adobe{ 
	width: 50%;
	height: auto;
} 

video{ 
	display: inline-block;
	width: 42%;
	height: auto;
	margin: 1% 3% 2% 4%;
} 

.assign{ 
	width: 19%;
	margin: 1% 15% 1% 15%;
}

footer{ 
	width: 100%;
	height: auto; 
	text-align: center;
}






